<div class="project-view-title">
<h1>Members Database</h1>
<div>
	<form method="get" action="">
		<input type="text" name="search">
		<input class="btn btn-primary" type="submit" value="Search">
	</form>
</div>
 <% if @users %>
	<% if @users.empty? %>
		<p class='alert error'>Your search did not return any results, please try again</p>
	<% else %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Full Name</th>
      <th>Member Since</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <%if can? :edit, user %>
              <td><%= link_to user.full_name, user_path(user) %></td>
            <%else%>
                <td><%= user.full_name %></td>
        <%end%>
        <td><%= user.created_at.to_s(:slash_date) %></td>
        <td></td>

      </tr>
    <% end %>

  </tbody>
</table>
<%end%>
<% end %>
   </div>


